<div flex-center>
  <div text-center p-b-30 style="max-width: 600px;">
    <div p-t-30>
      <span class="fa-layers fa-fw fa-10x" text-dark>
        <i class="fas fa-rocket shrink-1"></i>
        <i class="fas fa-sun" data-fa-transform="shrink-10 up-2 right-13"></i>
        <i class="fas fa-moon" data-fa-transform="shrink-12 down-4.2 left-12"></i>
        <i class="fas fa-star" data-fa-transform="shrink-13 down-4.5 right-7"></i>
        <i class="fas fa-star" data-fa-transform="shrink-14 up-8 left-7"></i>
        <i class="fas fa-star" data-fa-transform="shrink-14 up-3 left-12"></i>
        <i class="fab fa-gripfire" data-fa-transform="rotate--135 shrink-12 left-5 down-5"></i>
        <i class="fas fa-star" data-fa-transform="shrink-14 down-6 right-12"></i>
      </span>

    </div>
    <h1 display-1 text-dark>{{error.statusCode}}</h1>
    <div sws-fancy-hr></div>
    <h4 p-h-50>{{error.description}}</h4>
    <p p-h-50>{{error.message}}</p>
    <a sws-button--dark m-t-20 routerLink='/home'>Return Home <i class="fas fa-arrow-right" sws-button__icon-r></i></a>
  </div>
</div>
